@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Core_MVC_Wipro_demo1.Models.Registration
<h2>Registration Successful 🎉</h2>
<p>Employee ID: @Model.EmployeeId</p>
<p>Name: @Model.Name</p>
<p>City: @Model.City</p>
<p>Gender: @Model.Gender</p>
<p>Qualification: @Model.Qualification</p>
